[submodule "lib/easyXDM.git"]
	path = lib/easyXDM.git
	url = https://github.com/oyvindkinsey/easyXDM.git
[submodule "lib/closure-library"]
	path = lib/closure-library
	url = https://github.com/google/closure-library
